<div *ngIf="!submitted && !appState.get('isAuthenticated')">
  <h1>Login</h1>
  <p>{{ message }}</p>
  <form *ngIf="active" [formGroup]="loginForm" novalidate (ngSubmit)="processUserData()">
    <div>
      <div>
        <label for="">Username or Email</label>
        <input type="text" formControlName="username">
        <small [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)">
              Username is required (minimum 4 characters).
        </small>
      </div>

      <div>
        <label for="">Password</label>
        <input type="password" formControlName="password">
        <small [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)">
              Password is required (minimum 8 characters).
        </small>
      </div>
    </div>
    <div>
      <button type="button" (click)="newUser()">
        Clear
      </button>
      <button type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
<div *ngIf="submitted && !appState.get('isAuthenticated')">
  <p [hidden]="accepted">
    Waiting on a response from the server...
  </p>
  <div [hidden]="!accepted">
    <p>
      Login Successful!
    </p>
  </div>
</div>
<div *ngIf="appState.get('isAuthenticated')">
  <h1>Hello, user</h1>
  <p>{{ message }}</p>
  <p>
    You are currently logged in. To log out, use the button below.
  </p>
  <div>
    <button (click)="logout()">Log Out</button>
  </div>
</div>
<div *ngIf="!appState.get('isAuthenticated')">
  <div>
    <div>loginForm details:</div>
    <pre>Is loginForm valid?: <br>{{loginForm.valid | json}}</pre>
    <pre>Is loginForm submitted?: <br>{{submitted | json}}</pre>
    <pre>loginForm value: <br>{{loginForm.value | json}}</pre>
  </div>
  <div>
    Form changes:
  </div>
  <div *ngFor="let event of events">
    <pre> {{ event | json }} </pre>
  </div>
</div>
