<div>
  <h2>Socket.io Chat</h2>
  <form autocomplete="off">
    <input placeholder="User Handle" [(ngModel)]="handle"
           [disabled]="connected" name="chatUser">
    <button *ngIf="connected" (click)="disconnect()">Disconnect</button>
    <button *ngIf="!connected"(click)="connect()">Connect</button>
  </form>
  <form (ngSubmit)="send()" autocomplete="off">
    <input placeholder="Enter a Message" [(ngModel)]="message"
           [disabled]="!connected" autofocus name="chatMessage">
    <button [disabled]="!connected">
      Send
    </button>
  </form>
</div>
<div>
  <h3>Message Feed</h3>
  <div *ngFor="let item of items">
    <span>
      {{item}}
    </span>
  </div>
</div>
