<md-card>
  <md-card-title>Socket.io Chat</md-card-title>
  <md-card-content>
    <form autocomplete="off">
      <md-input placeholder="User Handle" [(ngModel)]="handle"
                [disabled]="connected"></md-input>
      <button md-raised-button color="primary"
              *ngIf="connected" (click)="disconnect()">Disconnect</button>
      <button md-raised-button color="primary" *ngIf="!connected"
              (click)="connect()">Connect</button>
    </form>
    <form (ngSubmit)="send()" autocomplete="off">
      <md-input placeholder="Enter a Message" [(ngModel)]="message"
                [disabled]="!connected" autofocus></md-input>
      <button md-raised-button color="primary" [disabled]="!connected">
        Send
      </button>
    </form>
  </md-card-content>
</md-card>
<md-content layout-padding>
  <md-card>
    <md-card-title>Message Feed</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let item of items">
          <md-list-item-text>
            {{item}}
          </md-list-item-text>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>
